@define-color shadow rgba(0, 0, 0, 0.25);

@define-color base #3C3836;
@define-color mantle #282828;
@define-color crust #1D2021;

@define-color text #FBF1C7;
@define-color subtext0 #CBDBB2;
@define-color subtext1 #D5C4A1;

@define-color surface0 #3C3836;
@define-color surface1 #665C54;
@define-color surface2 #7C6F64;

@define-color green #98971A;

:root {
  --border-radius: 10px;
  --cc-bg: transparent;

  --widget-background: rgba(46, 46, 46, 0.7);
  --noti-bg-alpha: 0;

  --padding: calc(var(--border-radius));
}

.control-center {
  border-radius: 0;
}

.widgets > .widget,
.widget-mpris > carouselindicatordots,
.widget-mpris > box > button {
  background: var(--widget-background);
  border-radius: var(--border-radius);
  padding: calc(var(--border-radius));
  border: var(--border);
}

.control-center-list-placeholder {
  padding: var(--border-radius);
}

.notification-group {
  border-radius: var(--border-radius);
  padding: 8px;
}

.widget.widget-mpris {
  background: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
}
.widget.widget-mpris > carouselindicatordots {
  --dots-padding: 4px;
  padding: var(--dots-padding);
  padding-left: var(--dots-padding);
  padding-right: calc(6px + var(--dots-padding));
  margin: 0;
  margin-top: var(--padding);
}
.widget-mpris > box > button:hover {
  background: rgba(46, 46, 46, 1);
}
.widget-mpris-player {
  box-shadow: none;
  border: var(--border);
  margin: 0 var(--padding);
}
.widget-mpris-player:only-child {
  margin: 0;
}

.blank-window {
  background: transparent;
}
